.fundoPesquisa {
  height: 80vh;
  background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("https://cdn.pixabay.com/photo/2016/01/27/04/32/books-1163695_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 86%;
}

.fundoIndex {
  height: 80vh;
  background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("https://cdn.pixabay.com/photo/2016/01/27/04/32/books-1163695_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 86%;
}

.container-abertura{
  background-color: rgba(137, 188, 254, 0.40);
  padding: 1%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

button.acesso{
  font-size: 0.35em;
  text-align:center;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.4);
}

a.acesso{
  color: black;
}

.botaoForm{
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.4);
  color: black;
}

.logoNav{
  width: 5%;
  margin-right: 5%;
}

.hIndex{
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  position: relative;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-size: 2em;
  color: #fff;
}

&:hover {
  color: rgba(255, 255, 255, 0.7);
}

.copyright{
  text-align: center;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.pForm{
  text-align: center;
}

.fundoContato{
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 80vh;
  background-color: #cae5ff;
  background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("https://cdn.pixabay.com/photo/2016/01/27/04/32/books-1163695_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 86%;
}

.articleContato{
  background-color:  rgba(137, 188, 254, 0.40);
  padding: 2%;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

@media all and (max-width: 800px) {
  ul {
    flex-grow: 1;
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.fundoAutores{
  height: 80vh;
  background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("https://cdn.pixabay.com/photo/2016/01/27/04/32/books-1163695_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 86%;
}
.pesquisarLivro {
  width: 50%;
  margin: auto auto;
  padding: 250px 0px;
  justify-content: center;
  z-index: 2;
}

.campoPesquisar {
  height: 50px;
  border-radius: 18px;
  font-size: 18px;
}
.botaoPesquisar {
  background-color: #A6B1E1;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.active-grey-2 input[type=text]:focus:not([readonly]) {
  border: 2px solid #CACFD6;
  box-shadow: 0 2px 0 0 #CACFD6;
}

html, body {
  height: 100%;
}

header {
  height: 9%;
}

footer {
  display: flex;
  height: 5%;
}
